html, body {
  height: 100%;
  grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
  grid-template-rows: 4.5rem auto 4.5rem;
}

body{
  display: grid;
  margin: 20px;
}

header {
  grid-column-start: col-1-start;
  grid-column-end: col-2-end;
  background: blue;
  color: white;
}

main {
  background: red;
  color: white;
  grid-column-start: col-2-start;
}

aside {
  background: green;
  color: white;
  grid-column-start: col-1-start;
  grid-row-start: 2;
}

footer {
  grid-column-start: col-1-start;
  grid-column-end: col-2-end;
  background: purple;
  color: white;
}
