extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")

block content
    .container
        form(action="/", method="post")
            .input-group
                .input-group-prepend
                    span.input-group-text Username
                input#addUser.form-control(type="text", name="username")
                .input-group-append
                    button.btn.btn-outline-secondary(type="submit") Add