extends layouts/main-layout.pug

block content
    .container
        form(action="/", method="post")
            .input-group
                .input-group-prepend
                    span.input-group-text Username
                input#addUser.form-control(type="text", name="username")
                .input-group-append
                    button.btn.btn-outline-secondary(type="submit") Add