extends layouts/main-layout.pug

block content
    .container
        if users.length > 0
            ul.list-group
                each user in users
                    li.list-group-item #{user.username}
        else
            h1 No users
