extends layouts/main-layout.pug

block content
    .container
        if users.length > 0
            ul.user-items
                each user in users
                    li.user-item #{user.username}
        else
            h1 No users
