<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/users.css">
  </head>
  <body>
    <header>
      <ul class="nav-items">
        <li class="nav-item">
          <a class="" href="/">Main</a>
        </li>
        <li class="nav-item">
          <a class="active" href="/users">Users</a>
        </li>
      </ul>
    </header>

    <main>
      <h1>Users</h1>
      <div>
        <input type="text" id="nextUser" />
        <button type="button" id="addUserBtn">Add User</button>
      </div>
      <div>
        <ul id="usersContainer"></ul>
      </div>
    </main>

    <script src="/js/users.js"></script>
  </body>
</html>
